<?xml version="1.0" encoding="UTF-8"?>

<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "CryptoSoftInstaller" ?>
<?define Manufacturer = "EasySaveCorp" ?>
<?define Version = "3.0.0" ?>
<?define UpgradeCode = "9ED3FF33-8718-444E-B44B-69A2344B7E98" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:fire="http://wixtoolset.org/schemas/v4/wxs/firewall">
	<Package Name="$(Name)"
             Manufacturer="$(Manufacturer)"
             Version="$(Version)"
             UpgradeCode="$(var.UpgradeCode)"
             Compressed="true">

		<!-- Allow upgrades and prevent downgrades -->
		<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

		<DirectoryRef Id="INSTALLFOLDER">

			<Component Id="CryptoSoftExecutable" Bitness="always64" Guid="a281778f-6fad-4aac-a233-4fda3f15772d">
				<Environment
				  Id="PATH"
				  Name="PATH"
				  Value="[INSTALLFOLDER]"
				  Permanent="yes"
				  Part="last"
				  Action="set"
				  System="yes" />

				<File Id="CryptoSoft.exe"
                      Source="$(var.CryptoSoft.TargetDir)CryptoSoft.exe"
                      KeyPath="true" />
				<File Id="CryptoSoft.dll"
                      Source="$(var.CryptoSoft.TargetDir)CryptoSoft.dll" />
				<File Id="CryptoSoft.pdb"
                      Source="$(var.CryptoSoft.TargetDir)CryptoSoft.pdb" />
				<File Id="CryptoSoft.deps.json"
                      Source="$(var.CryptoSoft.TargetDir)CryptoSoft.deps.json" />
				<File Id="CryptoSoft.runtimeconfig.json"
                      Source="$(var.CryptoSoft.TargetDir)CryptoSoft.runtimeconfig.json" />
			</Component>
		</DirectoryRef>

	</Package>
</Wix>